header{
    padding:70px 0;
    .container{
        grid-template-columns: repeat(2,auto);
        justify-content: space-between;
        button{
            width: 135px;
            background-color: #fff;
            color:$Pink;
            border:1px solid $Pink;
            font-size: 1rem;
            &:hover{
                border: 1px solid $LightPink;
                color: $LightPink;
            }
        }
        .logo{
            img{
                max-width: 250px;
            }
        }
    }
}
@media (max-width:768px){
    header{
        padding:30px 0;
        .container{
            grid-template-columns: repeat(2,auto);
            justify-content: space-between;
            align-items: center;
            button{
                width: 120px;
                padding:10px;
                background-color: #fff;
                color:$Pink;
                border:1px solid $Pink;
                font-size: 14px;
                &:hover{
                    border: 1px solid $LightPink;
                    color: $LightPink;
                }
            }
            .logo{
                img{
                    max-width: 150px;
                }
            }
        }
    }

}