header{
    padding:70px 0;
    .container{
        grid-template-columns: repeat(2,auto);
        justify-content: space-between;
        button{
            width: 135px;
            background-color: #fff;
            color:$Pink;
            border:1px solid $Pink;
            font-size: 1rem;
        }
        .logo{
            img{
                max-width: 250px;
            }
        }
    }
}